/********************************************************************************************************/
/****************************************************Mobil **********************************************/
/********************************************************************************************************/



header {
    text-align: center;
    background-color: whitesmoke;
    padding-top: 2px;
    padding-bottom: 7px;
    font-family:inherit;
}

body{
    
}

h1 {
    font-size: 30px;
    text-align: center;
}

h2 {
    font-size: 23px; 
}
/*****************index*****************/
/***************************************/


/*****************footer*****************/
/****************************************/
footer {
    text-align: center; 
    background-color: dodgerblue;
    font-size: 13px;
}



/*************************************************************************************************************/
/**********************************************************Design*********************************************/
/*************************************************************************************************************/


/*******************************FOTO*************************/
/************************************************************/


/**********Blænde grid*********/
/******************************/
#blaende{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-areas: 
        "a  a   a"
        "b  b   b"
        ".  c   ."
        ".  d   ."
        "e  e   e";
}

#blaendeh2{
    grid-area: a;
    column-span: all;
    text-align: center;
}

#blaendeindhold{
    grid-area: b;
    column-span: all;
}

#hoejblaende{
    grid-area: c;
    column-span: all;
}

#lavblaende{
    grid-area: d;
    column-span: all;
}

#dvs{
    grid-area: e;
}


/************Lukketid grid********/
/*********************************/
#lukketid1{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:
        "1  1   1"
        "2  2   2"
        "3  3   3"
}

#lukh2{
    grid-area: 1;
}

#lukketidtekst{
    grid-area: 2;
}

#lukketid{
    grid-area: 3;
}


/************Iso grid***********/
/*******************************/
#iso{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr; 
    grid-template-areas: 
        "i1 i1  i1"
        "i2 i2  i2"
        "i3 i3  i3"
        "i4 i4  i4"
}

#isoH2{
    grid-area: i1;
}

#isop{
    grid-area: i2;
}

#isostoej{
    grid-area: i3;
}

#isohovedregl{
    grid-area: i4;
}


/***********Eksponering grid**********/
/*************************************/

#eksponering{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas: 
        "e1 e1  e1"
        "e2 e2  e2";
}

#hvidbalance{
    grid-area: e1;
}

#hvidB{
    grid-area: e2;
}


/*************workflow grid***********/
/*************************************/

#workflow{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas: 
        "w1 w1  w1"
        "w2 w2  w2"
        "w3 w3  w3"
        "w4 w4  w4"
        "w5 w5  w5"
        
}

#work{
    grid-area: w1;
}

#start{
    grid-area: w2;
}

#bridge{
    grid-area: w3;
}

#cameraraw{
    grid-area: w4;
}

#photoshop1{
    grid-area: w5;
}


/********billedekomposition grid*********/
/****************************************/
#billedekompo{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas: 
        "billede1 billede1  billede1"
        "billede2   billede2    billede2"
        "billede3   billede3    billede3"
        "billede4   billede4    billede4"
        "billede5   billede5    billede5"
        "billede6   billede6    billede6"
        "billede7   billede7    billede7"
}

#billedek{
    grid-area: billede1;    
}

#fang{
    grid-area: billede2; 
}

#landskab{
    grid-area: billede3;
}

#gyldnesnit{
    grid-area: billede4;
}

#harmoni{
    grid-area: billede5;
}

#trek{
    grid-area: billede6;
}

#skaber{
    grid-area: billede7;
}


/*******billeder********/
#hoejblaende {
    width: 330px;
    height:auto;
    
}

#lavblaende {
    width: 330px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#blaendemodel {
    width: 360px;
    height: auto;
}

#lukketid {
    width: 370px;
    height: auto;
}

#isostoej {
    width: 360px;
    height: auto;
}

#bridge {
    width: 360px;
    height: auto;
}

#cameraraw {
    width: 360px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#photoshop1 {
    width: 360px;
    height: auto;
}



/*****************************Design intro****************************/
/*********************************************************************/

.first-slide {
    width: 210px;
    height: auto;
}


.forth-slide{
    width: 500px;
    height: auto;
} 

.fifth-slide{
    width: 600px;
    height: auto;
}
.Sixth-slide{
    width: 300px;
    height: auto;
}

.Seventh-slide{
    width: 500px;
    height: auto;
}

.Eighth-slide{
    width: 400px;
    height: auto;
}



/***********************************farver*****************************/
/**********************************************************************/


#farvewrap{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-areas: 
        "d2 d2  d2"
        ". d1  d1"
        
        "d3 d3  d3"
        "d4 d4  d4"
        "d5 d5  d5"
        "d6 d6  d6"
        "d7 d7  d7"
        "d8 d8  d8"
        "d9 d9  d9"
        "d10 d10 d10"
    
}



#farvelaere{
     grid-area: d2;
    
}

#farveteori{
     grid-area: d3;
    
}

#RGBfarver{
     grid-area: d4;
    
}

#CMYKfarver{
     grid-area: d6;
    
}

#opdeles{
    grid-area: d8;
    
}


#farvehjuloelse {
    width: 300px;
    height: auto;
    grid-area: d9;
}

#maetning {
    width: 300px;
    height:auto;
    grid-area: d10
}

#hjul{
    width: 320px;
    height: auto;
    grid-area: d1;
}

#RGB {
    width: 300px;
    height: auto;
     grid-area: d5;
}

#CMYK {
    width: 300px;
    height: auto;
     grid-area: d7;
    padding-bottom: 10px;
}



/********************************gestaltlove*****************************/
/************************************************************************/

/******gestaltlove grid*******/

#gestaltlovene{
     display: grid;
    margin-right: 10px;
    margin-left: 10px;
    grid-template-columns: 1fr, 1fr 1fr;
    grid-template-areas: 
        "e1 e1  e1"
        "e2 e2  e2"
        "e3 e3  e3"
        "e4 e4  e4"
        "e5 e5  e5"
        "e6 e6  e6"
        "e7 e7  e7"
        "e8 e8  e8"
        "e9 e9  e9"
        "e10 e10 e10"
        "e11 e11 e11"
        "e12 e12 e12"
        "e13 e13 e13"
        "e14 e14 e14"
        "e15 e15 e15"
        "e16 e16 e16"
        "e17 e17 e17"
        "e18 e18 e18"
        "e19 e19 e19"
        "e20 e20 e20"
        "e21 e21 e21"
        "e22 e22 e22"
        "e23 e23 e23"
        "e24 e24 e24"
        "e25 e25 e25"
        "e26 e26 e26"
        "e27 e27 e27"
        "e28 e28 e28"
        "e29 e29 e29"
        "e30 e30 e30"
        "e31 e31 e31"
        
    
}

#gestaltlove{
    grid-area: e1;
}

#simpli{
    grid-area: e2;
    
}

#ernaar{
    grid-area: e3;
}

#figure{
    grid-area: e5;
}

#figureer{
    grid-area: e6;
}


#proimi{
    grid-area: e8;
}

#mansaatter{
    grid-area: e9;
}


#continui{
    grid-area: e11;
    
}

#manbliver{
    grid-area: e12;
}

#ruleof{
    grid-area: e14;
}

#delerbilledet{
    grid-area: e15;
    
}

#closu{
    grid-area: e17;
    
}

#closureoverlader{
    grid-area: e18;
    
}

#symmert{
    grid-area: e20;
    
}

#skaberro{
    grid-area: e21;
}


#white{
    grid-area: e23;
    
}

#kanvaare{
    grid-area: e24;
    
}


#golden{
    grid-area: e26;
    
}

#spiral{
    grid-area: e27;
}

#gri{
    grid-area: e29;
}

#gitter{
    grid-area: e30;
}


/**********billeder**********/
#simplicity {
    width: 320px;
    height: auto; 
    grid-area: e4;
}

#figureground {
    width: 320px;
    height: auto;
    grid-area: e7;
    
}

#proimity{
    width: 320px;
    height: auto;
    grid-area: 10;
    
}

#continuinity{
    width: 320px;
    height: auto;
    grid-area: e13;
    
}

#ruleofthirds{
    width: 320px;
    height: auto;
    grid-area: e16;
    
}

#closure{
    width: 320px;
    height: auto;
    grid-area: e19;
}

#symmertry{
    width: 320px;
    height: auto;
    grid-area: e22;
}

#whitespace {
    width: 320px;
    height: auto;
    grid-area: e25;
}

#goldensection{
    width: 320px;
    height: auto;
    grid-area: e28;
}

#gridgestaltloven{
    width: 320px;
    height: auto;
    grid-area: e31;
    padding-bottom: 5px;
}


/*************************************Typografi******************************/
/****************************************************************************/

/***************typografi grid***************/

#typografi{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-areas: 
        "c1 c1  c1"
        "c2 c2  c2"
        "c3 c3  c3"
        "c4 c4  c4"
        "c16 c16 c16"
        "c5 c5  c5"
        "c6 c6  c6"
        "c17 c17 c17"
        "c7 c7  c7"
        "c8 c8  c8"
        "c9 c9  c9"
        "c10 c10  c10"
        "c11 c11 c11"
        "c12 c12 c12"
        "c13 c13 c13"
        "c14 c14 c14"
        "c15 c15 15"
        
}

#typooverskrift{
    grid-area: c1;
}

#ietdesign{
    grid-area: c2;
}


#seriffamilien{
    grid-area: c4;
}

#paaserif{
    grid-area: c16;
}

#sanseriffamilien{
    grid-area: c6;
}

#erlidt{
    grid-area: c17;
}

#haandskriftfamilien{
    grid-area: c8;
}

#navnetantyder{
    grid-area: c9;
}

#fantasyfamilien{
    grid-area: c11;
}

#velkendt{
    grid-area: c12;
}

#vigtigebegreb{
    grid-area: c14;
}

#minuskler{
    grid-area: c15;
}


/**********billeder*********/
#typo{
    width: 330px;
    height: auto;
    grid-area: c3;
    margin-top: 3px;
    margin-bottom: 3px;
    
}

#serif {
    width: 330px;
    height: auto; 
    grid-area: c5;
    margin-top: 3px;
    margin-bottom: 3px;
   
}

#sanserif {
    width: 330px;
    height: auto;
    grid-area: c7;
    margin-top: 3px;
    margin-bottom: 3px;
    
}

#haandskrift {
    width: 320px;
    height: auto;
    grid-area: c10;
    margin-top: 3px;
    margin-bottom: 3px;
}

#Fantasy{
    width: 320px;
    height: auto;
    grid-area: c13;
    margin-top: 3px;
    margin-bottom: 3px;
}



/*****************************Programmer**************************/
/*****************************************************************/


/***programmer grid***/
#programmer{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas: 
        "f1 f1  f1"
        "f2 f2  f2"
}
#program{
    grid-area: f1;
}

#alle3{
    grid-area: f2;
    
}


/*****photoshop grid***/

#photoshop{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas: 
        "g1 g1  g1"
        "g2 g2  g2"
        "g3 g3  g3"
        "g4 g4  g4"
        "g5 g5  g5"
        
}

#photoshoper{
    grid-area: g2;
}

#photo{
    grid-area: g1;
}


#hyppigt{
    grid-area: g4;
}


#vaerktoejer{
    grid-area: g5;
}



/*******Illustrator grid***/
#illustrator{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas: 
        "h1 h1  h1"
        "h2 h2  h2"
        "h3 h3  h3"
}

#AL{
    grid-area: h1;
}

#adobesillu{
    grid-area: h2;
}



/****indesign grid***/

#indesign{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas: 
        "j1 j1  j1"
        "j2 j2  j2"
        "j3 j3  j3"
    
}

#ind{
    grid-area: j1;
    
}

#eret{
    grid-area: j2;
}


/***********billeder*******/

#Brunophotoshop{
    width: 300px;
    height: auto;
    grid-area: g3;
    
}

#celticcross {
    width: 300px;
    height: auto;
    grid-area: h3;
}

#oelforside {
    width: 320px;
    height: auto;
    padding-top: 5px;
    padding-bottom: 10px;
    grid-area: j3;
}


/****************************video*********************/
/******************************************************/

/****video grid*****/

#video{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas: 
        "k1 k1  k1"
        "k2 k2  k2"
        "k3 k3  k3"
}

#videopr{
    grid-area: k1;
    
}

#prepro{
    grid-area: k2;
    
}

#tilen{
    grid-area: k3;
}

#skudliste{
    
}




/****produktion****/
#beskaering{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas: 
        "l1 l1  l1"
        "l2 l2  l2"
        "l0 l0  l0"
        "l3 l3  l3"
        "l4 l4  l4"
        "l5 l5  l5"
        "l6 l6  l6"
        "l7 l7  l7"
        "l8 l8  l8"
        "l9 l9  l9"
        "l10 l10 l10"
}

#beskaer{
    grid-area: l1;
    
}

#besk{
    grid-area: l2;
    
}

#indenforvideo{
    grid-area: l0;
}

#vihar{
    grid-area: l3;
}

#ultra{
    grid-area: l4;
}

#perspek{
    grid: l6;
}

#indeforper{
    grid-area: l7;
}

#froe{
    grid-area: l8; 
}

#fugl{
    grid-area: l9;
}


/****postproduction****/

#postproduction{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas: 
        "m0 m0  m0"
        "m1 m1  m1"
        "m2 m2  m2"   
}

#post{
    grid-area: m0;
    
}

#processen{
    grid-area: m1;
    
}

#eteksempel{
    grid-area: m2;
    
}
/*****billeder****/

#beskaeringer {
    width: 330px;
    height: auto;
    grid-area: l5;
}

#perspektiv{
    width: 330px;
    height: auto;
    grid-area: l10;
}


/************************************************************************************************************/
/*******************************************************Virksomhed*******************************************/
/************************************************************************************************************/




/***********************intro virksomhed****************/
/*******************************************************/



/******************grundlag virksomhed*****************/
/******************************************************/

#virksomhed{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas: 
        "m3 m3  m3"
        "m4 m4  m4"
        "m5 m5  m5"
    
}

#virksom{
    grid-area: m3;
    
}

#grundlag{
    grid-area: m4;
    
}

#forekommer{
    grid-area: m5;
    
}


#vaerdikaeden{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas: 
        "m6 m6  m6"
        "m7 m7  ."
        "m8 m8  m8"
        "m9 m9  m9"
    
}

#vaerdi{
    grid-area: m6;
    
}

#brugaf{
    grid-area: m7;
    
}

#indgaande{
    grid-area: m8;
}

#vaedikaeden{
    width: 330px;
    height: auto;
    grid-area: m9;
    
}



/********************************forretningsmodel og plan*************/
/*********************************************************************/











#businessmodel {
    width: 300px;
    height: auto;
}



/*********************************Licens*******************************/
/*********************************************************************/

/********Licens grid********/

#licenser{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas: 
        "p0 p0  p0"
        "p1 p1  p1"
        "p2 p2  p2"
        "p3 p3  p3"
}

#licens{
    grid-area: p0;
}

#licensmet{
    grid-area: p1;
}

#kildekode{
    grid-area: p2;
}

#opens{
    grid-area: p3;
}


/**********copyleft grid*********/

#copyleft{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas: 
        "p4 p4  p4"
        "p5 p5  p5"
}

#copyl{
    grid-area: p4;
    
}

#left{
    grid-area: p5;
}



/********************************creativecommons***********************/
/**********************************************************************/

/*****creative commons***/

#creativec{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:
        "p6 p6  p6"
        "p7 p7  p7"
}

#cc{
    grid-area: p6;
    
}

#erenmaade{
    grid-area: p7;
    
}


/*****metoder******/

#metoder{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas: 
        "p8 p8  p8"
        "p11    p11 p11"
        "p9 p9  p9"
        "p10    p10 p10"
}

#me{
    grid-area: p8;
}

#derer{
    grid-area: p11;
}

#met{
    grid-area: p9;
}

#creativecommons {
    width: 320px;
    height: auto;
    grid-area: p10;
    padding-bottom: 5px;
}


/******eksempler******/

#eksempler{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:
        "p12    p12 p12"
        "p13    p13 p13"
}


#eksemp{
    grid-area: p12;
    
}

#by{
    grid-area: p13;
}



/**********************************Lovgivning**************************/
/**********************************************************************/


/****ophavsret grid***/

#ophavsret{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas: 
        "n0 n0  n0"
        "n1 n1  n1"
        "n2 n2  n2"
        "n3 n3  n3"
        "n4 n4  n4"   
    
}

#ophavsret{
    grid-area: n0;
}

#lovgiv{
    grid-area: n2;
}

#ophavs{
    grid-area: n3;
}

#besky{
    grid-area: n4;
}


/******billede******/
#lovgivingbog{
    width: 300px;
    height: auto;
    grid-area: n1;
    padding-top: 10px;
}


/*************patentret grid*****/

#patentret{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas: 
        "n5 n5  n5"
        "n6 n6  n6"
        "n7 n7  n7"
        "n8 n8  n8"
    
}


#patent{
    grid-area: n5;
}

#patentloven{
    grid-area: n6;
}

#opdagelser{
    grid-area: n7;
}

#eks{
    grid-area: n8;
    
}


/************designloven grid*******/

#designloven{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas: 
        "o0 o0  o0"
        "o1 o1  o1"
}

#designlo{
    grid-area: o0
}

#omfatter{
    grid-area: o1
}


/**************markedsloven grid*******/

#markedsfoeringsloven{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas: 
        "o2 o2  o2"
        "o3 o3  o3"
}

#markeds{
    grid-area: o2;  
}

#beskytter{
    grid-area: o3;
}


/*******personlig grid****/

#personlighedsret{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas: 
        "o4 o4  o4"
        "o5 o5  o5"
}

#personlig{
    grid-area: o4;
}

#straffeloven{
    grid-area: o5;
}







/*************************************************************************************************************/
/**********************************************Interaktionsudvikling******************************************/
/*************************************************************************************************************/







/**************************Historie******************/
/****************************************************/

/***********historie grid**********/

#historie{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:
        "q0 q0  q0"
        "q1 q1  q1"
}

#web{
    grid-area: q0;
    
}


#enide{
    grid-area: q1;
}


/*************/
#opfind{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:
        "q2 q2  q2"
}


#tim{
    grid-area: q2;
}


/*******tid*********/
#tid{
     display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:
        "q3 q3  q3"
        "q4 q4  q4"
}

#linje{
    grid-area: q3;
}

#tidlige{
    grid-area: q4;
}


/********grundstene*********/

#grund{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:
        "q5 q5  q5"
        "q6 q6  q6"
        "q7 q7  q7"
        "q8 q8  q8"
}



#sten{
    grid-area: q5;
}



#server{
    grid-area: q6;
}


#serv{
    grid-area: q7;
}


#klient{
    grid-area: q8;
}


/*********første website**********/

#foest{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:
        "q9 q9  q9"
        "q10 q10 q10"
        "q11 q11 q11"
}

#websitef{
    grid-area: q9;
}

#helloworld{
    grid-area: q10;
}

#helloworldcode{
    grid-area: q11;
}

#helloworldcode {
    width: 300px;
    height: auto;
}


/*****************************HTML*****************************/
/**************************************************************/


/*********html******/

#html{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:
        "r0 r0  r0"
        "r1 r1  r1"
        "r3 r3  r3"
        "r4 r4  r4"
}

#ht{
    grid-area: r0;
    
}

#hyper{
    grid-area: r1;
}

#edit{
    grid-area: r4;
}

/*****grundlæggende grid******/

#grundlaeg{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:
        "r5 r5  r5"
        "r6 r6  r6"
        "r7 r7  r7"
}

#grundlae{
    grid-area: r5;
}

#opbyg{
    grid-area: r6;
}


/*******links grid*******/

#links{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:
        "r8 r8  r8"
        "r9 r9  r9"
}

#link{
    grid-area: r8;
}


#billed{
    grid-area: r9;
}



/*****lister grid******/
#lister{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:
        "r10    r10 r10"
        "r11    r11 r11"
        "r12    r12 r12"
        "r13    r13 r13"
        "r14    r14 r14"
}

#list{
    grid-area: r10;
}

#olist{
    grid-area: r11;
}

#orden{
    grid-area: r12;
}


#ulist{
    grid-area: r13;
}

#uorden{
    grid-area: r14;
}


/******validering grid*******/
#validering{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:
        "r15    r15 r15"
        "r16    r16 r16"    
}

#vali{
    grid-area: r15;
}

#valide{
    grid-area: r16;
}


/****billeder****/
#htmlelement {
    width: 320px;
    height: auto;
    padding-bottom: 15px;
    grid-area: r3;
 }

#introhtml {
    width: 320px;
    height: auto;
    grid-area: r7;
}



/*****************************Tags****************************/
/*************************************************************/

/********tags grid*******/

#tags{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:
        "r17    r17 r17"
        "r18    r18 r18"
        "r19    r19 r19"
}

#tag{
    grid-area: r17;
}

#meta{
    grid-area: r18;
}

#attribut{
    grid-area: 19;
}


/*************************semantiske tags***********************/
/***************************************************************/

#semantiske{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:
        "r20    r20 r20"
        "r21    r21 r21"
}

#semant{
    grid-area: r20;
}

#ihtml{
    grid-area: r21;
}


#phrasing{
     display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:
        "r22    r22 r22"
        "r27    r27 r27"
        "r23    r23 r23"
        "r28    r28 r28"
}

#phras{
    grid-area: r22;
}

#brugestilat{
    grid-area: r27;
}

#strong{
    grid-area: r23;
}

#kapitel5{
    grid-area: r28;
}
#overtags{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:
        "r24    r24 r24"
        "r25    r25 r25"
        "r26    r26 r26"
}

#listetags{
    grid-area: r24;
}

#h1ogh6{
    grid-area: r25;
}

#afleveringhtml{
    grid-area: r26;
}

/***********************************CSS***************************/
/*****************************************************************/

/***cascading styke sheet grid***/

#csss{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas: 
        "r27    r27 r27"
        "r28    r28 r28"
        "r29    r29 r29"
        "r30    r30 r30"
}

#cssoverskrift{
    grid-area: r27;
}

#cascading{
    grid-area: r28;
}

#style{
    grid-area: r29;
}



/*************Selectors*********/

#selector{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas: 
        "r31    r31 r31"
        "r32    r32 r32"
        "r33    r33 r33"
}

#select{
    grid-area: r31;
}

#IDclass{
    grid-area: r32;
}

#hvisderarbejdes{
    grid-area: r33;
}


/***********Box model grid*******/

#boks{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:
        "r34    r34 r34"
        "r35    r35 r35"
        "r36    r36 r36"
 
}
 
#Boxm{
    grid-area: r34;
}

#brugicss{
    grid-area: r35;
}


/**********skrifttyper**********/

#skriftcss{
     display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:
        "r37    r37 r37"
        "r38    r38 r38"
}

#cssskriftyp{
    grid-area: r37;
}

#computer{
    grid-area: r38;
}



/*****billeder*****/
#css {
    width: 320px;
    height: auto;
    grid-area: r30;
}

#boxmodel{
    width: 320px;
    height: auto;
    grid-area: r36;
}


/***********************Versionsstyring**********************/
/************************************************************/


/*****versionsstyring grid*****/

#versionsstyr{
     display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:
        "r39    r39 r39"
        "r40    r40 r40"
        
}

#versions{
    grid-area: r39;
}


#version{
    grid-area: r40;
}


/****git og github grid*****/

#gitog{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas: 
        "r41    r41 r41"
        "r42    r42 r42"
        "r43    r43 r43"
}


#github{
    grid-area: r41;
}


#git{
    grid-area: r42;
}


#repos{
    grid-area: r43;
}

/******************************Grid************************/
/*********************************************************/

/****** grid til grid******/

#grid{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1frf,1fr,fr1;
    grid-template-areas: 
        "r44    r44 r44"
        "r45    r45 r45"
        "r46    r46 r46"
        "r47    r47 r47"
}


#gri{
    grid-area: r44;
}


#gridtager{
    grid-area: r45;
}


/******billeder*******/
#gridcss {
    width: 320px;
    height: auto;
    grid-area: r46;
}

#Gridresualtat {
    width: 320px;
    height: auto;
    grid-area: r47;
}


/****************************Responsiv***********************/
/************************************************************/

#responsiv{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,fr1;
    grid-template-areas: 
        "r48    r48 r48"
        "r49    r49 r49"
}


#respons{
    grid-area: r48;
}


#respo{
    grid-area: r49;
}

/**********Media queries**********/

#mediaqueri{
   display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,fr1;
    grid-template-areas: 
        "r50    r50 r50"
        "r51    r51 r51"
}


#mediaquer{
    grid-area: r50;
}

#mediaq{
    grid-area: r51;
}


/*********viewport***********/

#viewport{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,fr1;
    grid-template-areas: 
        "r52    r52 r52"
        "r53    r53 r53"
}

#view{
    grid-area: r52;
}

#foratfaa{
    grid-area: r53;
}


/*****************************framework*******************/
/********************************************************/


/*********framework grid**********/

#framework{
     display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,fr1;
    grid-template-areas: 
        "r54    r54 r54"
        "r55    r55 r55"
}



#frame{
    grid-area: r54;
}


#fworker{
    grid-area: r55;
}


#bootstrapp{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,fr1;
    grid-template-areas: 
        "r56    r56 r56"
        "r59    r59 r59"
        "r57    r57 r57"
        "r58    r58 r58"
}


#boostra{
    grid-area: r59;
}

#boots{
    grid-area: r57;
}

#mobilerxs{
    grid-area: r58;
}


/*******billeder******/
#bootstrap {
    width: 320px;
    height: auto;
    grid-area: r56;
}


/******************************************************************************************************/
/***********************************************kommunikation******************************************/
/******************************************************************************************************/

/********************Kommunikationsstrategi***********************/
/*****************************************************************/

/****stategi og kotler grid**/

#kommunikation{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas: 
        "q0 q0  q0"
        "q1 q1  q1"
}

#strategi{
    grid-area: q0;
}

#mediesociolo{
    grid-area: q1;
}


#kotlerr{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:
        "q2 q2  q2"
        "q3 q3  q3"
        "q4 q4  q4"
        "q5 q5  q5"
        "q6 q6  q6"
        "q7 q7  q7"
}

#kotlermodel{
    grid-area: q2;
}

#philipkot{
    grid-area: q3;
}

#afsenderr{
    grid-area: q4;
}


#ekskotler{
    grid-area: q6;
}


#wikipedia{
    grid-area: q7;
}

/*******IMK grid*******/

#imkmodel{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas: 
        "q8 q8  q8"
        "q9 q9  q9"
        "q10    q10 q10"
        "q11    q11 q11"
        "q12    q12 q12"
        "q13    q13 q13"
        "q14    q14 q14"
}


#IMkmodellen{
    grid-area: q8;
}


#internatio{
    grid-area: q9;
}


#klassiker{
    grid-area: q10;
}

#staarbag{
    grid-area: q11;
}

#eksimkmodel{
    grid-area: q13;
}

#internaf{
    grid-area: q14;
}

/****billeder*****/
#kotler {
    width: 320px;
    height: auto;
    grid-area: q5;
}

#IMK {
    width: 320px;
    height: auto;
    grid-area: q12;
}


/***********************************Design Thinking*********************/
/***********************************************************************/


/******grid********/

#designthinking{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas: 
        "q15    q15 q15"
        "q16    q16 q16"
        "q17    q17 q17"
        "q18    q18 q18"
}

#designthi{
    grid-area: q15;
}

#hjernehalv{
    grid-area: q16;
}

#hjernen{
    grid-area: q17;
}


/****Divergent grid*****/

#divergentvs{
     display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:
        "q19    q19 q19"
        "q20    q20 q20"
        "q21    q21 q21"
        "q22    q22 q22"
}

#konvergent{
    grid-area: q19;
}

#dvsk{
    grid-area: q20;
}


/*****billeder*****/
#hjernehalvdel {
    width: 320px;
    height: auto;
    grid-area: q18;
}

#divergent {
    width: 320px;
    height: auto;
    padding-bottom: 10px;
    grid-area: q22;
    
}


/***************************film/visuel kommunikation**************************/
/******************************************************************************/


/***************grid**************/

#visuelkommunika{
      display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:
        "t66    t66 t66"
        "t67    t67 t67"
        "t89    t89 t89"
}

#visuelkommuni{
    grid-area: t66;
}

#film{
    grid-area: 67;
}

#arbjedemedfilm{
    grid-area: t89;
}



/****************/
#karakterr{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:
        "t68    t68 t68"
        "t69    t69 t69"
}


#konflikttt{
    grid-area: t68;
}


#livsstill{
    grid-area: t69;
}

/********effekter og stilart grid*********/
#efeekterr{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:
        "t70    t70 t70"
        "t71    t71 t71"
}


#stilarter{
    grid-area: t70;
}

#fastlagtfrastar{
    grid-area: t71;
}


/*******kropssprog grid*******/

#kropssprog{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:
        "t72    t72 t72"
        "t73    t73 t73"
}

#kropsspro{
    grid-area: t72;
}

#vibliverover{
    grid-area: t73;
}


/*******lyd og musik grid*******/
#lyd{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:
        "t74    t74 t74"
        "t75    t75 t75"
}

#musik{
    grid-area: t74;
}

#logm{
    grid-area: t75;
}

/*****storyboard grid*********/

#storyboard{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:
        "t76    t76 t76"
        "t77    t77 t77"
        "t78    t78 t78"
}


#storyboar{
    grid-area: t76;
}


#raekketegninger{
    grid-area: t77;
}

/*********motiv**********/

#motiv{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:
        "t79    t79 t79"
        "t80    t80 t80"
}

#moti{
    grid-area: t79;
}

#vaelgermotiv{
    grid-area: t80;
}

/*********farveholdning grid*****/

#farveholdning{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:
        "t81    t81 t81"
        "t82    t82 t82"
}


#farvehold{
    grid-area: t81;
}


#farverformerog{
    grid-area: t82;
}


/**************moodboard*********/
#moodboardd{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:
        "t83    t83 t83"
        "t84    t84 t84"
        "t85    t85 t85"
}

#moodb{
    grid-area: t83;
}

#moodboa{
    grid-area: t84;
}

/**********billder***********/
#storyboard1{
    width: 300px;
    height: auto;
    grid-area: t78;
}

#moodboard{
    width: 300px;
    height: auto;
    padding-bottom: 10px;
    grid-area: t85;
    
}
/**************************************Produktionsmodeller******************/
/***************************************************************************/

#produktionsmodel{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:
        "q23    q23 q23"
        "q24    q24 q24"
        "q25    q25 q25"
        "q26    q26 q26"
        "q27    q27 q27"
        "q28    q28 q28"
}

#produktions{
    grid-area: q23;
}

#dennye{
    grid-area: q24;
}

#opfundetaf{
    grid-area: 25;
}


#praemis{
    grid-area:  26;
}


#erenramme{
    grid-area: 27;
}


#spoerg{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:
        "q29    q29 q29"
        "q30    q30 q30"
        "q31    q31 q31"
}


#despoers{
    grid-area: q29;
}


#hvadermaal{
    grid-area: q30;
}

#spoergshvord{
    grid-area: q31;
}

/*****billede*****/
#bollemodellen {
    width: 320px;
    height: auto;
    grid-area:  28;
}


/***************************Visualiseringsværktøj*************************/
/************************************************************************/


/*******rough sketching grid********/

#roughsketcing{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:
        "t30    t30 t30"
        "t31    t31 t31"
        "t32    t32 t32"
}

#roughske{
    grid-area: t30;
}

#sketching{
    grid-area: t31;
}

/*******materialer grid*********/


#materialer{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:
        "t33    t33 t33"
        "t34    t34 t34"
        "t35    t35 t35"
        "t36    t36 t36"
        "t37    t37 t37"
        "t38    t38 t38"
        "t39    t39 t39"
}

#material{
    grid-area: t33;
}

#laveroughsket{
    grid-area: t34;
}

#tegneoevlse{
    grid-area: t35;
}
/*******billeder******/
#Tandpasta {
    width: 300px;
    height: auto;
    display: none;
    grid-area: t36;
}

#Paere {
    width: 250px;
    height: auto;
    grid-area: t37;
    
}

#Dame {
    width: 300px;
    height: auto;
    grid-area: t38;
}

#Typografi {
    width: 300px;
    height: auto;
    display: none;
    grid-area: t39;
}

#Rikke {
    width: 300px;
    height: auto;
    padding-bottom: 10px;
    grid-area: t32;
}


/*************************Informationsarkitektur************************/
/***********************************************************************/

/******informationsarki grid*****/

#informationsarki{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:
        "q32    q32 q32"
        "q33    q33  q33"
}

#arkitektur{
    grid-area: q32;
}


#websitebesaar{
    grid-area: q33;
}


/*******organisering grid********/

#orginasering{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:
        "q34    q34 q34"
        "q35    q35 q35"
        "q36    q36 q36"
        "q37    q37 q37"
        "q38    q38 q38"
}



#afinformation{
    grid-area: q34;
}

#vedorganiseri{
    grid-area: q35;
    
}

#url{
    grid-area: q36;
}

#nywebsite{
    grid-area: q37;
}

#talemed{
    grid-area: q38;
}


/*********sekcvens grid**********/
#sekven{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:
        "q39    q39 q39"
        "q40    q40 q40"
        "q41    q41 q41"
}

#sekve{
    grid-area: q39;
}

#sekvenstrukt{
    grid-area: q40;
}

/*****Hierarki grid*****/
#hierarkii{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:
        "q42    q42 q42"
        "q43    q43 q43"
        "q44    q44 q44"
}

#hiera{
   grid-area: q42; 
}

#hierastruktur{
    grid-area: q43;
}

/*****webstruktur grid****/

#webstruktur{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:
        "q45    q45 q45"
        "q46    q46 q46"
        "q47    q47 q47"
        "q49    q49 q49"
}


#webstruk{
    grid-area: q45;
}


#medwebstruk{
    grid-area: q46;
}


/***************************visualiseringsværktøj*************************/
/*************************************************************************/

#visualiseringsvaer{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:
        "q50    q50 q50"
        "q51    q51 q51"
        "q52    q52 q52"
}


#visualiserings{
    grid-area: q50;
}



#naarmanstaar{
    grid-area: q51;
}



#navigeringsde{
     display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:
        "q53    q53 q53"
        "q54    q54 q54"
        "q55    q55 q55"
        "q56    q56 q56"
        "q57    q57 q57"
}

#navigering{
    grid-area: q53;
}

#navigdesign{
    grid-area: q54;
}

#orienter{
    grid-area: q55;
}

#gobal{
    grid-area: q56;
}

#globalnavig{
    grid-area: q57;
}




/*****øvelse grid*****/
#oevlse{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:
        "q58    q58 q58"
        "q59    q59 q59"
}

#oevl{
    grid-area: q58;
}

#websitezal{
    grid-area: q59;
}

/*******billeder******/
#sekvens{
    width: 320px;
    height: auto;
    padding-bottom: 5px;
    grid-area: q41;
}

#hierarki{
    width: 300px;
    height: auto;
    padding-bottom: 5px;
    grid-area: q44;
}

#webstruktur{
    width: 300px;
    height: auto;
    grid-area: q47;
}

#allestru{
    width: 320px;
    height: auto;
    grid-area: q49;
    
}

#wireframe{
    width: 320px;
    height: auto;
    grid-area: q52;
}

/*************************************Ide gernering**************************/
/****************************************************************************/

/*****ide gernering grid****/

#idegenerering{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:
        "q60    q60 q60"
        "q61    q61 q61"
}

#idegener{
    grid-area: q60;
}

#ideudvikling{
    grid-area: q61;
}


/*********Associations********/
#association{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas: 
        "q62    q62 q62"
        "q63    q63 q63"
        "q64    q64 q64"
        "q65    q65 q65"
        
}

#associa{
    grid-area: q62;
}


#metodengaar{
    grid-area: q63;
}


#grundregler{
    grid-area: q64;
}


#fastsaat{
    grid-area: q65;
}

/*****post it metode******/

#postitmetode{
   display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas: 
        "q66    q66 q66"
        "q67    q67 q67"
        "q68    q68 q68"
        "q69    q69 q69"
}

#postit{
    grid-area: q66;
}

#erengod{
    grid-area: q67;
}


#grundregl{
    grid-area: q68;
}

#lugud{
    grid-area: q69;
}

/********Brainstorm*******/

#brainstormee{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas: 
        "q70    q70 q70"
        "q71    q71 q71"
        "q72    q72 q72"
        "q73    q73 q73"
}


#brainstor{
    grid-area: q70;
}


#brainstormeren{
    grid-area: q71;
}


#grundreg{
    grid-area: q72;
}


#defineremnet{
    grid-area: q73;
}

/*********mindmap**********/

#mindmapp{
   display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:  
        "q74    q74 q74"
        "q75    q75 q75"
        "q76    q76 q76"
}

#mindma{
    grid-area: q74;
}

#tonubuzan{
    grid-area: q75;
}


/******cirkelskrivning*******/

#cirkelskrivning{
   display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas: 
        "t0 t0  t0"
        "t1 t1  t1"
        "t2 t2  t2"
        "t3 t3  t3"
        
}

#cirkelskriv{
    grid-area: t0;
}

#cirkelskri{
    grid-area: t1;
}

#grundre{
    grid-area: t2;
}

#skrivetprob{
    grid-area: t3;
}
/*****billeder*****/
#eksmindmap{
    width: 320px;
    height: auto;
    grid-area: q76;
}


/***************************medie journalistiske begreber************************/
/********************************************************************************/

/*******journalistiske grid******/
#mediejournabegreber{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:
        "t4 t4  t4"
        "t5 t5  t5"
        "t6 t6  t6"
}

#journalistiske{
    grid-area: t4;
}


#indenfortekst{
    grid-area: t5;
}


#vaesentlig{
    grid-area: t6;
}


/*******artiklen******/

#artiklen{
     display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:
        "t7 t7  t7"
        "t8 t8  t8"
        "t9 t9  t9"
        "t10    t10 t10"
        "t14    t14 t14"
        "t11    t11 t11"
        "t12    t12 t12"
        "t13    t13 t13"
        
}

#artikel{
    grid-area: t7;
}

#klassiskeartik{
    grid-area: t8;
}


#nyhedstre{
    grid-area: t9;
}


#hvemhvad{
    grid-area: t11;
}


#produktelleremne{
    grid-area: t13;
}


#subjeeartik{
    grid-area: t14;
}


/********brochuren*********/
#brochuren{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:
        "t15    t15 t15"
        "t16    t16 t16"
        "t17    t17 t17"
        "t18    t18 t18"
}

#brochur{
    grid-area: t15;
}

#kortergodt{
    grid-area: t16;
}

#opsaatningafbro{
    grid-area: t17;
}

#overformaal{
    grid-area: t18;
}


/*****Annoncen*****/

#annoncen{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:
        "t19    t19 t19"
        "t20    t20 t20"
        "t21    t21 t21"
}


#annonce{
    grid-area: t19;
}


#enannonce{
    grid-area: t20;
}



/*******tekst til web grid*******/

#tekstertilweb{
   display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:
        "t22    t22 t22"
        "t23    t23 t23"
}

#tekstweb{
    grid-area: t22;
}


#medtekster{
    grid-area: t23;
}

/******Retorisk kommunikation grid*******/
#retoriskkommuni{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:
        "t24    t24 t24"
        "t25    t25 t25"
        "t26    t26 t26"
}


#retoriskkommu{
    grid-area: t24;    
}

#vedbrugafp{
    grid-area: t25;
}

#pathos{
    grid-area: t26;
}

/****typografisk semiotik grid****/

#typografisemiotik{
  display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:  
        "t27    t27 t27"
        "t28    t28 t28"
}


#typosemiotik{
    grid-area: t27;
}


#mankanse{
    grid-area: t28;
}

/******billeder******/
 
#nyhedstrekant{
    width: 320px;
    height: auto;
    padding-bottom: 10px;
    grid-area: t10;
}

#kommoden{
     width: 320px;
    height: auto;
    padding-bottom: 10px;
    grid-area: t12;
    
}

#aida{
     width: 320px;
    height: auto;
    padding-bottom: 10px;
    grid-area: t21;
}

/*****************************storytelling*****************************/
/**********************************************************************/

/**********storytelling*********/
#storytelling{
     display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:  
        "t40    t40 t40"
        "t41    t41 t41"
        "t42    t42 t42"
}

#storytel{
    grid-area: t40;
}

#isbjerg{
    grid-area: t41;
}

#vaeropmaerk{
    grid-area: t42;
}

/*****historiefortællerns værktøjskasse grid*****/

#historiefortaeller{
     display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:
        "t43    t43 t43"
        "t44    t44 t44"
        "t45    t45 t45"
        "t46    t46 t46"
        "t47    t47 t47"
        "t48    t48 t48"
        "t49    t49 t49"
        
}


#historiefortael{
    grid-area: t43;
}


#kommertilvarktoej{
    grid-area: t44;
}


#budskabb{
    grid-area: t45;
}


#konfliktt{
    grid-area: t46;
}


#fcbmodellen{
    grid-area: t47;
}


#rollefordeling{
    grid-area: t48;
}

#handlinge{
    grid-area: t49;
}


/*********arketyperne*********/

#arketyperne{
     display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:
        "t50    t50 t50"
        "t51    t51 t51"
        "t52    t52 t52"
        "t53    t53 t53"
        "t54    t54 t54"
        "t55    t55 t55"
        "t56    t56 t56"
        "t57    t57 t57"
        "t58    t58 t58"
        "t59    t59 t59"
        "t60    t60 t60"
        "t61    t61 t61"
        "t62    t62 t62"
        "t63    t63 t63"
        "t64    t64 t64"
        "t65    t65 t65"
}


#arketyper{
    grid-area: t50;
}


#cbooker{
      grid-area: t51;
}


#besejring{
      grid-area: t52;
}

#uhyret{
      grid-area: t53;
}

#fralaser{
      grid-area: t54;
}

#hcandersen{
      grid-area: t55;
}

#farefulde{
      grid-area: t56;
}

#heltenrejser{
      grid-area: t57;
}


#rejsentilen{
      grid-area: t58;
}


#andenverden{
      grid-area: t59;
}


#komedie{
      grid-area: t60;
}


#modernekomedie{
      grid-area: t61;
}

#tragedie{
      grid-area: t62;
}


#entragedie{
      grid-area: t63;
}


#genfoedsel{
      grid-area: t64;
}

#heltenforbandet{
      grid-area: t65;
}
/************************************************************************************************/
/***********************************************Projekter****************************************/
/************************************************************************************************/


/*******prototype*********/


#projekt1{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas: 
        "p1 p1  p1"
        "p2 p2  p2"
        "p3 p3  p3"
        "p4 p4  p4"
        "p5 p5  p5"
}

#protprojekt{
    grid-area: p1;
}


#gruppe{
    grid-area: p2;
}


#mobilsite{
    grid-area: p3;
}


#faser{
    grid-area: p4;
}


#startede{
    grid-area: p5;
}



#Fagfolkinterview{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas:   
        "inter1 inter1  inter1"
        "inter2 inter2  inter2"
        "inter3 inter3  inter3"
        "inter4 inter4  inter4"
        "inter5 inter5  inter5"
        
     
}

#interviews{
    grid-area: inter1;
}

#fagfolk{
    grid-area: inter2;
}

#fagspoersmaal{
     grid-area: inter3;
}

#goerdetselv{
    grid-area: inter4;
   
}

#goerdet{
    grid-area: inter5;
}



#tegningprototype {
    width: 300px;
    height: auto;
    display: none; 
}


/*******************************OnePage*******************/
/*********************************************************/

/*******grid********/
#onepageprojekt{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas: 
        "u  u   u"
        "u0 u0  u0"
}

#onepagepro{
    grid-area: u;
}

#christina{
    grid-area: u0;
}

/*******2ugers projekt grid*******/

#onep{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas: 
        "u1 u1  u1"
        "u2 u2  u2"
        "u3 u3  u3"
        "u4 u4  u4"
        "u5 u5  u5"
}

#tougers{
    grid-area: u1;
}

#researchog{
    grid-area: u2;
}

#projektetab{
    grid-area: u3;
}

#implemen{
    grid-area: u4;
}

#impleskitsen{
    grid-area: u5;
}

/*****vi startede grid*****/

#vistartedevore{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas: 
        "u6 u6  u6"
        "u7 u7  u7"
        "u8 u8  u8"
        "u9 u9  u9"
        "u10    u10 u10"
        "u11    u11 u11"
}

#voresprojekt{
    grid-area: u6;
}

#foretogfield{
    grid-area: u7;
}


#illufotostil{
    grid-area: u8;
}

/*****billeder****/
#foestescrum {
    width: 320px;
    height: auto;
    padding-bottom: 10px;
    grid-area: u9;
}


#blaabaermoodboard {
    width: 320px;
    height: auto;
    padding-bottom: 10px;
    grid-area: u10;
}

#emilieogkevin {
    width: 320px;
    height: auto;
    padding-bottom: 10px;
    grid-area: u11;
}


/***********************************************************************************************************************/
/***********************************************************************************************************************/
/******************************************************Tablet***********************************************************/
/***********************************************************************************************************************/
/***********************************************************************************************************************/

@media screen and (min-width:768px) {
    
/**********************Design*********************/    
/*************FOTO**************/
    #hoejblaende {
        width: 300px;
        height: auto;
    }
    
    
    #lavblaende {
        width: 300px;
        height: auto; 
    }
    
    #blaendemodel {
        width: 600px;
        height: auto;
    }
    
    #lukketid {
        width: 600px;
        height: auto;
    }

    

}



/******************************Projekter************************************/
/***************************************************************************/

/*******Prototype*********/

#tegningprototype {
    
}

/***********************************************************************************************************************/
/***********************************************************************************************************************/
/*****************************************************Desktop***********************************************************/
/***********************************************************************************************************************/
/***********************************************************************************************************************/

@media screen and (min-width:1024px) {
    
}
